<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>食事バランスガイド</title>
</head>

<body>
	<main>
		<h1>登録</h1>
		<table border="1">
			<tr>
				<th>主食</th>
				<td>
					<select name="staple_food" th:value="${staple_food}">
						<option value="">--選択してください--</option>
						<option th:each="i : ${#numbers.sequence(0,10)}" th:value="${i}" th:text="${i} +'つ'"></option>
					</select>
				</td>
			</tr>
			<tr>
				<th>副菜</th>
				<td>
					<select name="staple_food" th:value="${staple_food}">
						<option value="">--選択してください--</option>
						<option th:each="i : ${#numbers.sequence(0,10)}" th:value="${i}" th:text="${i} +'つ'"></option>
					</select>
				</td>
			</tr>
			<tr>
				<th>主菜</th>
				<td>
					<select name="mainDish" th:value="${mainDish}">
						<option value="">--選択してください--</option>
						<option th:each="i : ${#numbers.sequence(0,10)}" th:value="${i}" th:text="${i} +'つ'"></option>
					</select>
				</td>
			</tr>
			<tr>
				<th>乳製品</th>
				<td>
					<select name="milkDish" th:value="${milkDish}">
						<option value="">--選択してください--</option>
						<option th:each="i : ${#numbers.sequence(0,10)}" th:value="${i}" th:text="${i} +'つ'"></option>
					</select>
				</td>
			</tr>
			<tr>
				<th>果物</th>
				<td>
					<select name="fruitCount" th:value="${fruitCount}">
						<option value="">--選択してください--</option>
						<option th:each="i : ${#numbers.sequence(0,10)}" th:value="${i}" th:text="${i} +'つ'"></option>
					</select>
				</td>
			</tr>
		</table>
	
		<a href="/dishes/note"><button>メモ</button></a><br>
		<a href="/dishes/result"><button>登録</button></a><br>
		<a href="/dishes/result">一覧に戻る</a>
	</main>



</body>

</html>