<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>食事バランスガイド</title>
</head>

<body>
	<h1>更新</h1>
			<table border="1">
				<form th:action="'/dishes/'+${result.id}+'/edit'" method="post">
					<tr>
						<th>主食</th>
						<td>
							<select name="stapleFood" th:value="${result.stapleFood}">
								<option value="">--選択してください--</option>
								<option th:each="i : ${#numbers.sequence(0,10)}" th:value="${i}" th:text="${i} +'つ'">
								</option>
							</select>
						</td>
					</tr>
					<tr>
						<th>副菜</th>
						<td>
							<select name="sideDish" th:value="${result.sideDish}">
								<option value="">--選択してください--</option>
								<option th:each="i : ${#numbers.sequence(0,10)}" th:value="${i}" th:text="${i} +'つ'">
								</option>
							</select>
						</td>
					</tr>
					<tr>
						<th>主菜</th>
						<td>
							<select name="mainDish" th:value="${result.mainDish}">
								<option value="">--選択してください--</option>
								<option th:each="i : ${#numbers.sequence(0,10)}" th:value="${i}" th:text="${i} +'つ'">
								</option>
							</select>
						</td>
					</tr>
					<tr>
						<th>乳製品</th>
						<td>
							<select name="milkDish" th:value="${result.milkDish}">
								<option value="">--選択してください--</option>
								<option th:each="i : ${#numbers.sequence(0,10)}" th:value="${i}" th:text="${i} +'つ'">
								</option>
							</select>
						</td>
					</tr>
					<tr>
						<th>果物</th>
						<td>
							<select name="fruitCount" th:value="${result.fruitCount}">
								<option value="">--選択してください--</option>
								<option th:each="i : ${#numbers.sequence(0,10)}" th:value="${i}" th:text="${i} +'つ'">
								</option>
							</select>
						</td>
					</tr>
			</table>
			<input type="submit" value="更新">
			</form>


</body>

</html>