<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>食事バランスガイド</title>
</head>
<body>
	<h1>食事内容メモ</h1>
	<textarea 
	placeholder="主食：コメ">
</textarea><br>

<!--<form action="/account" method="post">-->
<!--	<input type="hidden" name="name" th:value="${account.name}">-->
<!--	<input type="hidden" name="email" th:value="${account.email}">-->
<!--	<input type="hidden" name="password" th:value="${account.password}">-->
<!--	<button>登録</button>-->
<!--</form>-->

<a href="/dishes/add"><button>登録</button></a><br>
<a href="/dishes/add">一覧に戻る</a><br>
</body>
</html>