<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>食事バランスガイド</title>
	<link rel="stylesheet" href="/css/style.css">
</head>

<body>
	<header>
		<h1>食事バランスガイド</h1>
	</header>
	<main>

		<h2>新規会員登録</h2>

		<table border="1">
			<form action="/dishes/add" method="post">

				<ul th:if="${errorList}" class="error">
					<li th:each="error:${errorList}" th:text="${error}"></li>
				</ul>
				
				
				<tr>
					<th>主食</th>
					<td>
						<select name="stapleFood" th:value="${stapleFood}">
							<option value="">--選択してください--</option>
							<option th:each="i : ${#numbers.sequence(0,10)}" th:value="${i}" th:text="${i} +'つ'"
								th:selected="${i == stapleFood}">
							</option>
						</select>
					</td>
				</tr>
				<tr>
					<th>副菜</th>
					<td>
						<select name="sideDish" th:value="${sideDish}">
							<option value="">--選択してください--</option>
							<option th:each="i : ${#numbers.sequence(0,10)}" th:value="${i}" th:text="${i} +'つ'"
								th:selected="${i == sideDish}">
							</option>
						</select>
					</td>
				</tr>
				<tr>
					<th>主菜</th>
					<td>
						<select name="mainDish" th:value="${mainDish}">
							<option value="">--選択してください--</option>
							<option th:each="i : ${#numbers.sequence(0,10)}" th:value="${i}" th:text="${i} +'つ'"
								th:selected="${i == mainDish}">
							</option>
						</select>
					</td>
				</tr>
				<tr>
					<th>乳製品</th>
					<td>
						<select name="milkDish" th:value="${milkDish}">
							<option value="">--選択してください--</option>
							<option th:each="i : ${#numbers.sequence(0,10)}" th:value="${i}" th:text="${i} +'つ'"
								th:selected="${i == milkDish}">
							</option>
						</select>
					</td>
				</tr>
				<tr>
					<th>果物</th>
					<td>
						<select name="fruitCount" th:value="${fruitCount}">
							<option value="">--選択してください--</option>
							<option th:each="i : ${#numbers.sequence(0,10)}" th:value="${i}" th:text="${i} +'つ'"
								th:selected="${i == fruitCount}">
							</option>
						</select>
					</td>
				</tr>
		</table>
		<button type="submit" formmethod="get" formaction="/dishes/note">
			詳細登録
		</button>
		<br><br>
		<button type="submit">
			登録
		</button>
		</form><br><br>

	</main>
	<hr>
	<footer th:replace="~{footer}"></footer>
</body>

</html>