<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>食事バランスガイド</title>
</head>

<body>
	<h1>食事内容詳細</h1>

		<form action="/dishes/add" method="post">
		<input type="hidden" name="stapleFood" th:value="${stapleFood}">
		<input type="hidden" name="sideDish" th:value="${sideDish}">
		<input type="hidden" name="mainDish" th:value="${mainDish}">
		<input type="hidden" name="milkDish" th:value="${milkDish}">
		<input type="hidden" name="fruitCount" th:value="${fruitCount}">
		<input type="submit" value="登録">
		
		<textarea name="detailMemo" placeholder="主食：コメ">
		</textarea><br></form>
	</form>
	
	<a href="/dishes/result">一覧に戻る</a><br>
</body>

</html>